body {
  margin: 40px 10px;
  background: linear-gradient(
    to bottom,
    #051937,
    #1a355d,
    #2e5487,
    #4176b2,
    #539ae0
  );
  background-size: 400% 400%;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 68px;
  color: #ffeecb;
  text-align: center;
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  color: #ffeecb;
  text-align: center;
}
