:root {
  --header-font: "Poppins", sans-serif;
  --text-font: "Quicksand", sans-serif;
  --header-font-colour: #ffeecb;
  --footer-font-colour: #051937;
  --background-color: #051937;
  --background-footer: #ffeecb;
  --background-button: #5e7aae;
  --background-button-hover: #ad6574;
  --box-shadow-black: 5px 5px 10px rgba(0, 0, 0, 0.3);
  --box-shadow-white: 5px 5px 10px rgb(255, 255, 255, 0.3);
}

body {
  background: var(--background-color);
}

h1 {
  font-family: var(--header-font);
  color: var(--header-font-colour);
  font-size: 98px;
  font-weight: bold;
}

h2 {
  font-family: var(--text-font);
  color: var(--header-font-colour);
  font-size: 18px;
}

h3 {
  font-family: var(--header-font);
  color: var(--header-font-colour);
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}

p,
a {
  font-family: var(--text-font);
}

a {
  text-decoration: none;
}

hr {
  color: whitesmoke;
}

.navbar-color {
  background: var(--background-footer);
  color: #051937;
  text-decoration: none;
}

.hero {
  background: linear-gradient(
    to top,
    #051937,
    #1a355d,
    #2e5487,
    #4176b2,
    #539ae0
  );
  padding: 290px 100px;
  text-align: center;
}

.hero p {
  color: var(--header-font-colour);
  font-size: 26px;
}

.homepage-projects {
  padding: 100px 10px;
}

.homepage-projects h3 {
  font-family: var(--header-font);
  color: var(--header-font-colour);
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}

.homepage-projects p {
  color: var(--header-font-colour);
  text-align: center;
  font-size: 26px;
  padding: 20px 0;
}

.project-carousel {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  border: 5px;
  border-color: whitesmoke;
  box-shadow: var(--box-shadow-white);
}

.project-carousel h5 {
  background: #000834;
  color: whitesmoke;
  padding: 10px;
  border-radius: 4px;
  box-shadow: var(--box-shadow-black);
}

:hover.carousel-project-link {
  cursor: pointer;
}

.contact-section-homepage {
  padding-top: 60px;
  padding-bottom: 30px;
}

.contact-section-homepage h3 {
  padding-bottom: 80px;
}

.contact-section-homepage p {
  color: var(--header-font-colour);
  font-size: 26px;
  text-align: center;
  padding-bottom: 100px;
}

.contact-section-homepage a {
  color: var(--header-font-colour);
  font-size: 26px;
  text-align: center;
  text-decoration: none;
  padding: 25px 20px;
  background: var(--background-button);
  border-radius: 5px;
  box-shadow: var(--box-shadow-white);
}

.contact-section-homepage a:hover {
  cursor: pointer;
  background: var(--background-button-hover);
  color: var(--header-font-colour);
}

.homepage-footer {
  background: var(--background-footer);
  font-size: 26px;
  text-align: center;
  padding: 50px 10px;
}

.homepage-footer a {
  color: var(--footer-font-colour);
  font-size: 24px;
  text-decoration: none;
}

.homepage-footer i {
  color: var(--footer-font-colour);
  font-size: 36px;
  text-decoration: none;
}

.homepage-footer i:hover {
  cursor: pointer;
}

.open-source-link {
  font-size: 12px;
}

.open-source-link a {
  font-size: 12px;
}

.about-me-hero {
  background: linear-gradient(
    to top,
    #051937,
    #1a355d,
    #2e5487,
    #4176b2,
    #539ae0
  );
}

.about-me-header {
  padding: 175px 0;
}

.about-me-header h1 {
  font-size: 68px;
  padding-bottom: 25px;
}

.about-me-header p {
  color: var(--header-font-colour);
  padding-top: 25px;
  padding-bottom: 40px;
}

.about-me-header img {
  max-width: 400px;
  border-radius: 25px;
  box-shadow: var(--box-shadow-white);
}

.contact-link {
  color: var(--header-font-colour);
  background: var(--background-button);
  font-size: 26px;
  text-align: center;
  padding: 25px 20px;
  border-radius: 5px;
  box-shadow: var(--box-shadow-white);
}

.contact-link:hover {
  cursor: pointer;
  background: var(--background-button-hover);
  color: var(--header-font-colour);
}

.sshecode-certifcate-links {
  display: flex;
  justify-content: space-evenly;
}

.shecodes-certficates p {
  color: var(--header-font-colour);
  font-size: 20px;
  text-align: center;
}

.shecodes-certficates img {
  max-width: 500px;
  justify-content: space-evenly;
  margin: 0 60px;
  border-radius: 5px;
  box-shadow: var(--box-shadow-white);
}

@media (max-width: 576px) {
  .hero {
    padding: 90px 10px;
  }

  h1 {
    font-size: 42px;
    padding: 5px 0;
    margin: 0 auto;
  }

  h2 {
    font-size: 16px;
    padding: 5px 0;
  }

  hr {
    display: none;
  }

  .homepage-projects h3 {
    font-size: 42px;
    padding: 5px 0;
    margin: 0 auto;
  }

  .homepage-projects p {
    font-size: 18px;
  }

  .carousel-caption a {
    display: none;
  }

  .contact-section-homepage h3 {
    font-size: 42px;
    padding: 5px 0;
    margin: 0 auto;
  }

  .contact-section-homepage p {
    font-size: 18px;
    padding: 0;
    margin: 40px auto;
  }

  .button-link a {
    color: var(--header-font-colour);
    background: var(--background-button);
    box-shadow: var(--box-shadow-white);
    font-size: 26px;
    text-align: center;
    text-decoration: none;
    padding: 15px 15px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
  }

  .homepage-footer {
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .homepage-footer a {
    font-size: 20px;
  }

  .homepage-footer i {
    font-size: 30px;
    text-align: center;
    padding: 5px 0;
    margin: 0 auto;
  }

  .tiziana-name-link a,
  p {
    font-size: 14px;
  }
}
